# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

precheck/precheck

partition/out*/
partition/*.exe
partition/partition
partition/*.gz
partition/*.log

asn-json/out*/
asn-json/*.exe
asn-json/asn-json
asn-json/*.gz
asn-json/*.log

asn-json-ld/out*/
asn-json-ld/*.exe
asn-json-ld/asn-json-ld
asn-json-ld/*.gz
asn-json-ld/*.log

url-prefix/url-prefix
url-prefix/*.log